/* 
 * ----------------------------
 * Product Details
 * ----------------------------
 */

 .price{
    margin:15px 0 0;
    font-weight:800;
    color:#0da8e4
}

div {
    overflow: hidden;
}

.detail-section{
    margin-top:60px
}

.detail-img{
    width: 30%;
}

a{
    display:inline-block;
    text-decoration:none;
}

a:active,a:focus,a:hover{
    text-decoration:none;
    outline:0
}

@media only screen and (max-width: 960px) {
    #myCartList {
        display: none;
    }
}