<div class="row">
    <div *ngFor="let product of products" class="col-sm-2 d-flex align-items-stretch">
        <div class="card mb-3">
            <img [src]="product.image" class="card-img-top" height="60%">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.category }}</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>