<div class="detail-section">
    <div class="container">
        <div class="d-flex">
            <div class="me-2">
                <img src="{{ product.image }}" class="img-fluid d-none d-md-block rounded mb-2">
            </div>
            <div class="ms-2 p-2">
                <h3>{{ product.title }}</h3>
                <hr>
                <h4>Description</h4>
                <p>{{ product.description }}</p>
                <h3 class="mb-0 font-weight-semibold">{{ product.price | currency: 'USD' }}</h3>
                <button (click)="addToCart()" class="btn btn-dark rounded-pill btn-block float-end"><i class="fa fa-shopping-cart me-3"></i>Buy</button>
            </div>            
        </div>
    </div>
</div>
