<nav class="navbar navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">DBrainTest</a>
    <form class="d-flex">
      <button class="btn btn-outline-success me-2" type="submit">SignIn</button>
      <button class="btn btn-outline-success" type="submit">SignOut</button>
    </form>
  </div>
</nav>
<div class="row">
  <div class="input-group mb-4">
    <input type="search" class="form-control rounded" placeholder="Find product by name" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>
  <app-product-category-list></app-product-category-list>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
