<nav class="navbar navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">DBrainTest</a>
    <form class="d-flex">
      <button class="btn btn-outline-success me-2" type="submit">SignIn</button>
      <button class="btn btn-outline-success" type="submit">SignOut</button>
    </form>
  </div>
</nav>
<div class="row">
  <app-search></app-search>
  <app-product-category-list></app-product-category-list>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
