<section class="header-main border-bottom bg-white overflow-hidden">
  <div class="container-fluid">
    <div class="flex-row p-2 pt-3 pb-3 d-flex justify-content-between">
      <div> <a class="navbar-brand" routerLink="/">DBrainTest</a> </div>
      <div class="col-8">
        <app-search></app-search>
      </div>
      <app-cart-status></app-cart-status>
    </div>
  </div>
</section>
<div class="container">
  <div class="mt-4">
    <app-product-category-list></app-product-category-list>
  </div>
  <div class="mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
